<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li><a href="/user">Manage Backups</a></li>
  <li class="active">Create Backup</li>
</ol>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Create Backup</h4>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/backup/create" method="POST" >
            
            

            <div class="form-group">
                <label for="name">Filename</label>
                <input type="text" id="filename" name="filename" class="form-control" required >
            </div>

            <input type="submit" value="Create" class="btn btn-success">
            <a href="/backup" class="btn btn-default">Cancel</a>

     

        </form>
    </div>

</div>
