<div class="row" id="upload-div">

  
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <h2>File Uploader</h2>
             
                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>
                <!--<button class="btn btn-lg upload-btn" type="button">Upload File</button>-->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select files...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
              </div>
            </div>
          </div>
     

      <!--<input id="upload-input" type="file" name="uploads[]" multiple="multiple" class="hidden"></br>-->
      
</div>