<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Manage Backups</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

        <a href="/backup/create" class="btn btn-primary">Create Backup</a>

            
            
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {{#if fileInfo}}
                        <tr>
                            <td>{{fileInfo.filename}}</td>
                            <td>{{fileInfo.filesize}}</td>
                            <td>{{fileInfo.filedate}}</td>
                            <td>
                                <a href="/user/edit/" class="btn btn-primary" >Edit</a>
                                <a href="/user/delete/" class="btn btn-danger" >Delete</a>
                            </td>
                        </tr>

                    {{/if}}
                </tbody>

            </table>

    </div>

</div>
