<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Restore</li>
</ol>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Upload Backup File</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/backup/upload" method="POST" enctype="multipart/form-data">
            


            <div class="form-group">
                <label for="eventLogo">Backup file:</label>
                <input type="file" id="filetoupload" name="filetoupload" class="form-control" >
            </div>

           

            <input type="submit" value="Restore" class="btn btn-success">
            <a href="/backup" class="btn btn-default">Cancel</a>
        </form>
    </div>

</div>
