<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Manage Backups</li>
</ol>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Upload Backup File</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <input id="fileupload" type="file" name="files[]" data-url="/file-upload" multiple>
        <script>$('#fileupload').fileupload({ dataType: 'json' })</script>

    </div>

</div>
